#lista-exercicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#exercicios {
    background-color: #DFE1E6;
    color: #172B4D;
    text-transform: uppercase;
    padding: 50px;
    border-radius: 10px;
}

#exercicios a {
    text-decoration: none;
}